<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>Save Line</title>
</head>

<body>

	<div class="container">
	
		<h3>Line Directory</h3>
		<hr>
		
		<p class="h4 mb-4">Save Line</p>
	
		<form action="#" th:action="@{/line/save}"
						 th:object="${line}" method="POST">
		
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			
			<input type="text" th:field="*{name_of_line}"
					class="form-control mb-4 col-4" placeholder="Name Of Line">
			
			<input type="time" th:field="*{start_time}"
					class="form-control mb-4 col-4" placeholder="HH:mm">
				
			<input type="time" th:field="*{end_time}"
					class="form-control mb-4 col-4">
					
			<input type="hidden" th:field="*{total_time}" />
			
			<input type="hidden" th:field="*{num_drivers}" />
					
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/line/list}">Back to Line List</a>
		
	</div>
</body>

</html>










